*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkcyan;
    color: aliceblue;
    
}

header {
    background-color: aqua;
    padding: 53x;
    display: flex;
    justify-content: space-between;
    display: flex;
}

nav ul {
    list-style: none;
    display: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}
nav a {
    color: aliceblue;
    text-decoration: none;
}

.Proyek-kartu {
    background-color: brown;
    padding: 15px 20px;
    max-width: 600px;
    margin: 2rem;
    border-radius: 15px;
}

.proyek {
    display: flex;
    gap: 10px;
    background-color: aquamarine;
    border: 10px;
    border-radius: 10px;
    padding: 10px;
}

.img-container{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#img1{
    width: 200px;
}

#tentang{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}